<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StatesDiagram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NShape_test_net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <StatesDiagram.Properties.Settings>
            <setting name="LastFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="useShelf" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseVsCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowStateElements" serializeAs="String">
                <value>True</value>
            </setting>
        </StatesDiagram.Properties.Settings>
        <NShape_test_net.Properties.Settings>
            <setting name="LastFolder" serializeAs="String">
                <value />
            </setting>
        </NShape_test_net.Properties.Settings>
    </userSettings>
</configuration>
